<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="title">POLICY/{{workCategory}}/{{year}}</h1>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 20px;">
        <button [routerLink]=" '/home' " class="button">Home</button>
        <button [routerLink]=" '/Policy' " class="button" style="margin-left: 5px; margin-right: 5px;">Policy</button>
    </div>

    <table class="table is-bordered" style="width: 95%; background-color: transparent;">
        <tbody>
            <tr *ngFor="let monthRow of months;">
                <td *ngFor="let monthCol of monthRow" class="folder">
                    <span class="icon-text folder-icon">
                        <span class="icon">
                            <i class="fas fa-folder-open"></i>
                        </span>
                        <span [routerLink]="['month',monthCol]" style="color: white;">{{monthCol}}</span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

</div>
