<div class="box-p">
    <div class="form-content">
        <button class="button" style="margin-bottom: 20px;"><b>REGISTER</b></button>

        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Appointment</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">

                        <div class="select" style="width: 100%;">
                            <select (change)="OnEditAppointment($event)" style="width: 100%;">
                                <option *ngFor="let appt of appointments">{{appt}}</option>
                            </select>
                        </div>
                    </div>
                    <p *ngIf="status === 'APPT' " class="help is-danger">
                  *This field is required
                </p>
                </div>
            </div>
        </div>

        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Army Number</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input (keyup)="OnEditArmyNumber($event)" class="input" type="text" placeholder="Army Number">
                    </div>
                    <p *ngIf="status === 'ARMYN' " class="help is-danger">
          This field is required
        </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Password</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input (keyup)="OnEditName($event)" class="input" type="text" placeholder="Name">
                    </div>
                    <p *ngIf="status === 'NAME' " class="help is-danger">
          This field is required
        </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Password</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input (keyup)="OnEditEmail($event)" class="input" type="text" placeholder="Email">
                    </div>
                    <p *ngIf="status === 'EMAIL' " class="help is-danger">
          This field is required
        </p>
                </div>
            </div>
        </div>
        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Password</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input (keyup)="OnEditPassword($event)" class="input" type="password" placeholder="Password">
                    </div>
                    <p *ngIf="status === 'PASS' " class="help is-danger">
          This field is required
        </p>
                </div>
            </div>
        </div>
        <div class="buttons">
            <button [routerLink]=" '/login' " class="button"
                style="background-color: #5dac1c; color: black;"><b>Login</b></button>
            <button (click)="OnClickRegister()" class="button"
                style="background-color: #5dac1c; color: black;"><b>Register</b></button>
        </div>
    </div>
</div>

<app-loading-bar *ngIf="isLoading"></app-loading-bar>