<div style="background-color: white; display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <button [routerLink]=" '/home' " class="button is-primary" style="margin-top: 20px;">Home</button>
    <div class="container">
        <h1 class="title is-2" style="text-align: center;">Unit History</h1>
        <p class="box" style="text-align: justify;">
            After the independence of Bangladesh, a unit called “X” was established at Shaheed Mostafa Kamal Line
            Barrack in 1974 under the Army Headquarters DCS to provide communication facilities to the Army. It was
            later renamed as “Y” in 1976. At present this unit is under “Z” Independent Signal Brigade. Since its
            inception, this unit has been providing communication from Army Headquarters to all Division Headquarters
            and all Independent Brigade Headquarters.
            <br> <br>
            In 1989, after a tragic accident at the Tongi Pubail railway station near the Majukhan Bridge, the soldiers
            of the unit engaged in winter training at a nearby place rushed 116 passengers to the hospital and recovered
            55 dead bodies. The efficient and timely action of the battalion saved many precious lives and saved the
            goods from being looted.
            <br>
            When the Dhaka-Chittagong telephone communication was completely cut off during the catastrophic cyclone in
            1991, the members of this unit worked tirelessly day and night to restore the Dhaka-Chittagong
            communication. From 2007 to 2008, the unit participated in the creation of voter ID cards with photographs
            in the area for which the unit is responsible. The “Y” battalion was able to carry out the South Asia Games
            broadcasting on the TV channel from 29 January 2010 to 9 February 2010 accurately and efficiently. During
            2020, the Army's Operation Plan provides for the provision of relief supplies, masks, hand sanitizers, and
            financial assistance to the poorest civilians in its own management, including patrolling the area of
            responsibility for the Global Epidemic Corona. This unit performs the overall responsibility of “Bangabandhu
            Sheikh Mujib dhaka marathon 2021” organized on the occasion of Bangabandhu Sheikh Mujibur Rahman's
            Homecoming Day on 10-1-2020.
            <br>
            A satellite station has recently been built under the supervision of the 11 Signal Battalion and this is a
            landmark step in modernizing the Army's communications system. This hub station is capable of providing
            voice, data and video teleconferencing facilities to the formation headquarters through nine terminal
            stations from Sena Sadar with the help of Bangabandhu Satellite 1. With the installation of this system,
            Bangladesh Army has entered the satellite era. The Satellite Hub Station was inaugurated by the Hon'ble
            Chief of Army Staff on 23 February 2021.
            <br><br>
            Since its inception, the unit has successfully participated in various competitions at the formation level,
            winning four times in inter-unit assault course competition, four times champion in bayonet fighting
            competition, three times champion in football competition and 24 times champion in basketball competition.

        </p>

        <div class="box" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <h1 class="title is-2" style="text-align: center;">
                Present OFFRS List
                <br>
                11 SIGNAL BATTALION
            </h1>

            <table class="table is-bordered is-fullwidth">
                <thead>
                    <tr>
                        <th>Ser</th>
                        <th>BA No, Rank & Name</th>
                        <th>Appt</th>
                        <th>Rmk</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>BA-6636 Lt Col Md Jubayed Hasan, psc, Sigs</td>
                        <td>CO</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>BA-7307 Maj Md Mehedi Hasan Siddiquey, Sigs</td>
                        <td>2IC</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>BA-8876 Maj Nishat Afroj, Sigs</td>
                        <td>-</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>BA-8936 Maj S M Nakib Hasan Siddique, Sigs</td>
                        <td>OC, No 1 RR Coy</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>BA-9790 Capt Risala Mushrur Mosharaf, Sigs</td>
                        <td>Adjt</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>BA-10193 Capt Abdullah Al Jami, Sigs</td>
                        <td>A/ OC, No 3 RR Coy</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>BA-10666 Capt Md Mehadi Hassan, Sigs</td>
                        <td>QM</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>BA-11216 Capt Jubayer Hasan, Sigs</td>
                        <td>A/OC, No 2 RR Coy</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>BA-11092 Lt Rafi Md Ragib Shahriar, Sigs</td>
                        <td>Pl Comd, Local Line Pl</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>