<div class="box-p">
    <div class="form-content">
        <button class="button" style="margin-bottom: 20px;"><b>RESET PASSWORD</b></button>

        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Appointment</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" placeholder="Email">
                    </div>
                    <!-- <p class="help is-danger">
                  This field is required
                </p> -->
                </div>
            </div>
        </div>

        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Password</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="New Password">
                    </div>
                    <!-- <p class="help is-danger">
          This field is required
        </p> -->
                </div>
            </div>
        </div>

        <div class="field is-horizontal" style="margin-bottom: 20px; width: 100%;">
            <!-- <div class="field-label is-normal">
                <label class="label">Password</label>
            </div> -->
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="password" placeholder="Confirm Password">
                    </div>
                    <!-- <p class="help is-danger">
          This field is required
        </p> -->
                </div>
            </div>
        </div>

        <div class="buttons">
            <button class="button" style="background-color: #5dac1c; color: black;"><b>Reset</b></button>
        </div>
    </div>
</div>