.box-p{
    position: absolute;
    bottom: 1px;
    right: 20px;

    height: 360px;
    width: 400px;

    background-color: transparent;
}

.form-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}