<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <h1 class="title">POLICY</h1>

    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-bottom: 20px;">
        <button [routerLink]=" '/home' " class="button">Home</button>
        <div class="control" style="margin-left: 5px; margin-right: 5px;">
            <input (keyup)="OnEditWork($event)" class="input" type="text" placeholder="Add New Category" value="{{newWork.title}}">
        </div>
        <button (click)="OnClickAdd()" class="button is-success">Add</button>
    </div>

    <table class="table is-bordered" style="width: 95%; background-color: transparent;">
        <tbody>
            <tr *ngFor="let workRow of distributedWorks; let i=index;">
                <td *ngFor="let workCol of workRow; let j=index;" class="folder">
                    <table class="table is-fullwidth" style="background-color: transparent;">
                        <tr>
                            <td style="color: rgb(243, 198, 0);">
                                <span class="icon-text folder-icon">
                                    <span class="icon">
                                        <i class="fas fa-folder-open"></i>
                                    </span>
                                    <span (click)="OnClickWork(i,j)" [routerLink]="['/work-category',workCol.title]" style="color: white;">{{workCol.title}}</span>
                                </span>
                            </td>
                            <td style="width: 20%;">
                                <button (click)="OnClickDeleteFolder(i,j)" class="button is-danger">
                                    <span class="icon">
                                      <i class="fas fa-trash-alt"></i>
                                    </span>
                                </button>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!--Loading-->
<app-loading-bar *ngIf="requesting"></app-loading-bar>